* {
    margin: 0;
    padding: 0;
    font-family: 'Croissant One', cursive;
}
body{
    background-image: url("/assets/img/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #fff;
    min-height: 100vh;
    -webkit-tap-highlight-color:transparent;
}
#logo {
    width: 125px;
    height: 125px;
}
.wrapper {
    margin-top: 15px;
}
.stack {
    width: 370px;
    height: 235px;
}
._btn {
    width: 100px;
    height: 60px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    margin: 5px;
    background: #fff;
}
.chips {
    padding: 10px;
}
.bet-twenty, .bet-fifty, .bet-hundred {
    cursor: pointer;
    width: 150px;
    height: 110px;
}
h1, #status {
    font-size: 4em;
    letter-spacing: 0.05em;
    font-weight: 700;
    text-shadow: 2px 2px 2px #000;
    font-family: 'Croissant One', cursive;
}
.next-card {
    width: 150px;
    height: 229px;
    float: right;     
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("/assets/img/cards/red_back.png");
}
.card {
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    width: 150px;
    height: 229px;
    float: left;
    background-color: transparent !important;
    border: none !important;
}
.betting {
    font-size: 1.5em;
    text-shadow: 2px 2px 2px #000;
    font-weight: 600;
}
.bet-text {
    letter-spacing: 0.05em;
    margin-top: 15px;
}
.fa-sync-alt {
    margin: 10px 0 10px 0;
    color: #fff;
    text-shadow: 2px 2px 2px #000;
    font-size: 3em;
    transition: transform .7s ease-in-out;
}
.fa-sync-alt:hover {
    transform: rotate(180deg);
}
.swal-text {
    font-family: 'Roboto', sans-serif !important;
}
/* Code taken from Hover.css - https://ianlunn.github.io/Hover/ */
.hvr-grow {
    display:inline-block;
    vertical-align:middle;
    -webkit-transform:perspective(1px) translateZ(0);transform:perspective(1px) translateZ(0);
    box-shadow:0 0 1px rgba(0,0,0,0);
    -webkit-transition-duration:.3s;transition-duration:.3s;-webkit-transition-property:transform;
    transition-property:transform
}
.hvr-grow:active,.hvr-grow:focus,.hvr-grow:hover {
    -webkit-transform:scale(1.1);transform:scale(1.1)}
/* End of Hover.css

/*Media Queries*/
@media only screen and (max-width: 280px) {
    #logo {
        height: 50px;
        width: 50px;
    }
    h1, #status {
        font-size: 1.5em;
        height: 80px;
    }
    .card {
        width: 110px;
        height: 170px;
    }
    .next-card {
        width: 110px;
        height: 170px;
    }
    .stack {
        width: 260px;
        height: 170px;
    }
    .pair {
        margin-top: 50px;
    }
    .buttons button {
        font-size: 11px;
        width: 60px;
        height: 40px;
    }
    .bet-text {
        font-size: 0.7em;
        margin-top: 10px;
    }
    .chips img {
        height: 52px;
        width: 71px;
        margin-top: -10px;
    }
}
@media only screen and (min-width: 281px) and (max-width: 320px) {
    #logo {
        height: 50px;
        width: 50px;
    }
    .h1, #status {
        font-size: 1.7em;
        height: 50px;
    }
    .card {
        width: 110px;
        height: 170px;
    }
    .next-card {
        width: 110px;
        height: 170px;
    }
    .stack {
        width: 280px;
        height: 165px;
    }
    .pair {
        margin-top: 50px;
    }
    .buttons button {
        font-size: 12px;
        width: 65px;
        height: 45px;
    }
    .bet-text {
        font-size: 0.7em;
        margin-top: 10px;
    }
    .bet-twenty, .bet-fifty, .bet-hundred {
        height: 57.2px;
        width: 78px;
        margin-top: -10px;
    }
}
@media only screen and (min-width: 321px) and (max-width: 375px) {
    #logo {
        height: 50px;
        width: 50px;
    }
    h1, #status {
        font-size: 2em;
        height: 95px;
    }
    .card {
        width: 110px;
        height: 170px;
    }
    .next-card {
        width: 110px;
        height: 170px;
    }
    .stack {
        width: 280px;
        height: 165px;
    }
    .pair {
        margin-top: 50px;
    }
    .buttons button {
        font-size: 12px;
        width: 65px;
        height: 45px;
    }
    .bet-text {
        font-size: 0.7em;
        margin-top: 10px;
    }
    .bet-twenty, .bet-fifty, .bet-hundred {
        height: 57.2px;
        width: 78px;
        margin-top: -10px;
    }
}
@media only screen and (min-width: 376px) and (max-width: 540px) {
    #logo {
        height: 60px;
        width: 60px;
    }
    .h1, #status {
        font-size: 2em;
        height: 90px;
    }
    .card {
        width: 110px;
        height: 170px;
    }
    .next-card {
        width: 110px;
        height: 170px;
    }
    .stack {
        width: 280px;
        height: 180px;
    }
    .pair {
        margin-top: 50px;
    }
    .buttons button {
        font-size: 13px;
        width: 70px;
        height: 50px;
    }
    .bet-text {
        font-size: 0.9em;
        margin-top: 10px;
    }
    .bet-twenty, .bet-fifty, .bet-hundred {
        height: 60.5px;
        width: 82.5px;
        margin-top: -10px;
    }
}
@media only screen and (min-width: 541px) and (max-width: 1023px) {
    #logo {
        height: 90px;
        width: 90px;
    }
    h1, #status {
        font-size: 3em;
        height: 120px;
    }
    .stack {
        height: 250px;
    }
    .bet-text {
        font-size: 1.3em;
    }
    .bet-twenty, .bet-fifty, .bet-hundred {
        margin-top: -10px;
    }
    .buttons button {
        font-size: 13px;
        width: 70px;
        height: 50px;
    }
}
@media only screen and (min-width: 1023px) and (max-width: 1024px) {
    .status {
        height: 170px;
    }
    .bet-text {
        margin-top: 10px;
    }
    .stack {
        height: 382px;
        width: 560px;
    }
    .card, .next-card {
        width: 250px;
        height: 382px;
    }
    .bet-text {
        font-size: 1.5em;
    }
    .buttons {
        padding: 5px;
    }
    .buttons button {
        font-size: 18px;
        width: 120px;
        height: 90px;
    }
}