*{
    margin: 0;
    padding: 0;
    font-family: 'Bungee Inline', cursive;
    
}
body{
    background-color: darkgreen;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #fff;
}
.previous-card {
    float: right;
}
.buttons {
    font-size: 60px;
    text-shadow: 2px 2px 2px #000;
}
.status{
    font-size: 6em;
    font-weight: 700;
    text-shadow: 2px 2px 2px #000;
}
.last-card {
    width: 200px;
    height: 305px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 20px;
    right: 30px;
    transition: .2s ease-in-out;
}
.card {
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    display: inline-block;
    position: relative;
    justify-content: center;
    transition: .2s ease-in-out;
    background-color: transparent !important;
    border: none !important;
}
.betting {
    font-size: 1.75em;
    text-shadow: 2px 2px 2px #000;
    font-weight: 600;
}